<head>
    {% include "global/partials/_head.html" %}
</head>

<body>
    {% if messages %}
        {% for message in messages %}
            <div class="message {{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
        
    <div class="hero_area">
        <header class="header_section">
            {% include "global/partials/_header.html" %}
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
    </div>

    <footer class="container-fluid footer_section "> 
        {% include "global/partials/_footer.html" %}
    </footer>

    {% include "global/partials/_scripts.html" %}
</body>