{% extends "global/base.html" %}
{% load edfilters %}

{% block content %}
<div class="container">
    <div class="heading_container">
      <h2>
        {% if game_model.user.first_name %}
            Jogo de <a href="{% url "main:perfil" game_model.user.pk %}">{{ game_model.user.first_name }}</a>
        {% else %}
            Jogo de <a href="{% url "main:perfil" game_model.user.pk %}">{{ game_model.user.username }}</a>
        {% endif %}
      </h2>
    </div>
</div>

<div class="flex_resume_game">
    <div class="grid_resume_game">
        <div class="cabeca">
            <div class="stats"><b>Criado Em:</b> {{ game_model.created_at }}</div>
            <div class="stats"><b>Finalizado Em:</b> {{ game_model.finished_at }}</div>
            <div class="stats"><b>Duração Total:</b> {{ game_duration|add_zero_left }}</div>
        </div>
        <div class="cabeca">
            <div class="stats"><b>Total de Perguntas:</b> {{ total_questions }}</div>
            <div class="stats"><b>Quantidade de Acertos:</b> {{ game_model.qtd_acertos }}</div>
            <div class="stats"><b>Quantidade de Erros:</b> {{ game_model.qtd_erros }}</div>
        </div>
    </div>
</div>
    
{% endblock content %}